<center>


<h2>Create a new post</h2>
  <div class="card" id="posting">
    <div class="card-body">
      <form action="/create_post" method="post">
      <h4 class="card-title"><input type="text" name="subject" placeholder="Subject"></h4>

      <textarea name="content" id="contentbox" cols="60" rows="8"></textarea><br/>
      <input type="submit" value="Post">
    </div>
  </div>


</form>

</center>