
<!-- 
  the action and the method indicate which route it will submit to
    post "/signin" in app.rb
-->


<center>

  <div class="card" style="width: 24rem;">
    <div class="card-body">
      <h1 class="card-title">Sign in</h1>
      <form action="/signin" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password"><br/>
      <input type="submit" value="Go!">
    </div>
  </div>


</form>

</center>