
<center>


  <div class="card" style="width: 24rem;">
    <div class="card-body">
      <h1 class="card-title">Sign up</h1>
      <form action="/signup" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password"><br/>
      <input type="text" name="fullname" placeholder="Your full name"><br/>
      <input type="email" name="email" placeholder="E-mail Address"><br/>
      <input type="date" name="dob" placeholder="Birthday"><br/>
      <input type="submit" value="Go!">
    </div>
  </div>


</form>

</center>